/* MONO */
/* ibm-plex-mono-latin-400-normal */
@font-face {
  font-family: "IBM Plex Mono";
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(@fontsource/ibm-plex-mono/files/ibm-plex-mono-latin-400-normal.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
    U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* ibm-plex-mono-latin-ext-400-normal */
@font-face {
  font-family: "IBM Plex Mono";
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(@fontsource/ibm-plex-mono/files/ibm-plex-mono-latin-ext-400-normal.woff2)
    format("woff2");
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF,
    U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* ibm-plex-mono-latin-400-italic */
@font-face {
  font-family: "IBM Plex Mono";
  font-style: italic;
  font-display: swap;
  font-weight: 400;
  src: url(@fontsource/ibm-plex-mono/files/ibm-plex-mono-latin-400-italic.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
    U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* ibm-plex-mono-latin-ext-400-italic */
@font-face {
  font-family: "IBM Plex Mono";
  font-style: italic;
  font-display: swap;
  font-weight: 400;
  src: url(@fontsource/ibm-plex-mono/files/ibm-plex-mono-latin-ext-400-italic.woff2)
    format("woff2");
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF,
    U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* SANS */
/* ibm-plex-sans-latin-400-normal */
@font-face {
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(@fontsource/ibm-plex-sans/files/ibm-plex-sans-latin-400-normal.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
    U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* ibm-plex-sans-latin-700-normal */
@font-face {
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url(@fontsource/ibm-plex-sans/files/ibm-plex-sans-latin-700-normal.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
    U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* ibm-plex-sans-latin-ext-400-normal */
@font-face {
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(@fontsource/ibm-plex-sans/files/ibm-plex-sans-latin-ext-400-normal.woff2)
    format("woff2");
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF,
    U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* ibm-plex-sans-latin-ext-700-normal */
@font-face {
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url(@fontsource/ibm-plex-sans/files/ibm-plex-sans-latin-ext-700-normal.woff2)
    format("woff2");
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF,
    U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* ibm-plex-sans-latin-400-italic */
@font-face {
  font-family: "IBM Plex Sans";
  font-style: italic;
  font-display: swap;
  font-weight: 400;
  src: url(@fontsource/ibm-plex-sans/files/ibm-plex-sans-latin-400-italic.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
    U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* ibm-plex-sans-latin-700-italic */
@font-face {
  font-family: "IBM Plex Sans";
  font-style: italic;
  font-display: swap;
  font-weight: 700;
  src: url(@fontsource/ibm-plex-sans/files/ibm-plex-sans-latin-700-italic.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
    U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* ibm-plex-sans-latin-ext-400-italic */
@font-face {
  font-family: "IBM Plex Sans";
  font-style: italic;
  font-display: swap;
  font-weight: 400;
  src: url(@fontsource/ibm-plex-sans/files/ibm-plex-sans-latin-ext-400-italic.woff2)
    format("woff2");
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF,
    U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* ibm-plex-sans-latin-ext-700-italic */
@font-face {
  font-family: "IBM Plex Sans";
  font-style: italic;
  font-display: swap;
  font-weight: 700;
  src: url(@fontsource/ibm-plex-sans/files/ibm-plex-sans-latin-ext-700-italic.woff2)
    format("woff2");
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF,
    U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* SERIF */
/* ibm-plex-serif-latin-700-normal */
@font-face {
  font-family: "IBM Plex Serif";
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url(@fontsource/ibm-plex-serif/files/ibm-plex-serif-latin-700-normal.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
    U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* ibm-plex-serif-latin-ext-700-normal */
@font-face {
  font-family: "IBM Plex Serif";
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url(@fontsource/ibm-plex-serif/files/ibm-plex-serif-latin-ext-700-normal.woff2)
    format("woff2");
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF,
    U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* ibm-plex-serif-latin-700-italic */
@font-face {
  font-family: "IBM Plex Serif";
  font-style: italic;
  font-display: swap;
  font-weight: 700;
  src: url(@fontsource/ibm-plex-serif/files/ibm-plex-serif-latin-700-italic.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
    U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* ibm-plex-serif-latin-ext-700-italic */
@font-face {
  font-family: "IBM Plex Serif";
  font-style: italic;
  font-display: swap;
  font-weight: 700;
  src: url(@fontsource/ibm-plex-serif/files/ibm-plex-serif-latin-ext-700-italic.woff2)
    format("woff2");
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF,
    U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

:root {
  /* Font management */
  /* Use Sans subfamily by default */
  font-family: "IBM Plex Sans", sans-serif;
  font-synthesis: none;
  font-size: 20px;
  line-height: 1.5;
  text-rendering: optimizeLegibility;
}

/* Use Serif subfamily on headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "IBM Plex Serif", serif;
}

/* Use Mono subfamily on HTML tags that use Mono by default */
pre,
code {
  font-family: "IBM Plex Mono", monospace;
}
