---
import { transpileToES5 } from "@src/lib/transpile-to-es5";
import Codearea from "./Codearea.astro";
import fs from "fs";
import path from "path";

function readFile(filePath: string) {
  try {
    const absolutePath = path.join(process.cwd(), filePath);
    return fs.readFileSync(absolutePath, "utf8").trim();
  } catch (error) {
    console.error(error);
    return "";
  }
}

const inputBody = readFile("src/mocks/input.js");
const outputBody = transpileToES5(inputBody);
---

<Codearea id="input" body={inputBody} />
<button id="transpile">transpile</button>
<Codearea id="output" readonly body={outputBody} />
<script src="../lib/transpiler-client.ts"></script>
